/*颜色*/
$theme-color = #2ecc71
$enable-or-active = #2eae57
$disable-or-deactive = #959595
$btn-disabled-bg = #2d2d2d
$btn-disabled-font-color = #ccc
$btn-enable-font-color = #fff


/*字体大小*/
$normal-font-size = 14px
$title-font-size = 18px
